/*
Theme Name: The7
Theme URI: http://the7.io/
Author: Dream-Theme
Author URI: http://dream-theme.com/
Description: Any design, any layout. No coding required. The7 is the most customisable WordPress theme on the market up to date. Add the power of Visual Composer, The7 Post Types, Ultimate Addons, Slider Revolution, and WooCommerce to the mix, and you’ll get the ultimate web-site building toolkit! Theme is translation ready, compatible with WPML, SEO and mobile friendly (certified by Google).
Version: 6.2.1.1
License: This WordPress theme is comprised of two parts: (1) The PHP code and integrated HTML are licensed under the GPL license as is WordPress itself.  You will find a copy of the license text in the same directory as this text file. Or you can read it here: http://wordpress.org/about/gpl/ (2) All other parts of the theme including, but not limited to the CSS code, images, and design are licensed according to the license purchased. Read about licensing details here: http://themeforest.net/licenses/regular_extended
License URI: License.txt
Tags: multipurpose, responsive, retina ready, SEO ready, mobile friendly, iOS, material design, clean, minimal, business, corporate, portfolio, creative, photography, one page site, micro site
Text Domain: the7mk2
*/

.blog .dt-format-gallery .dt-format-gallery-coll.full,
.archive .dt-format-gallery .dt-format-gallery-coll.full,
.search .dt-format-gallery .dt-format-gallery-coll.full
{
	display: none;
}


.wp-caption-text,
.sticky,
.gallery-caption,
.bypostauthor {}

.main-nav > li > a .menu-text {
	font-family: "Open Sans", sans-serif!important;
}

#main {
	padding: 0;
}

#banner {
	position: relative;
}

#overlay:before {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.2);
	content: '';
}

#content > .wpb_row {
	padding: 5em 0;
}

.hero_heading-h1 h1,
.color-white h2 {
	margin-bottom: 10px;
	color: #fff;
}

.hero_inquire-btn {
	margin-bottom: 30px;
	border-radius: 3px;
}

.pads_heading-h2 {
	margin-bottom: 10px;
}

.product-item {
	line-height: 1.5;
}

.product-item .vc_column-inner {
	-webkit-transition: ease-in-out .5s all;
  	-moz-transition:    ease-in-out .5s all;
 	-o-transition:      ease-in-out .5s all;
  	transition:         ease-in-out .5s all;
}

.product-item:hover .vc_column-inner {
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0 5px 15px rgba(0, 0, 0, 0.2);
	box-shadow:         0 5px 15px rgba(0, 0, 0, 0.2);
}

.product-item h3 {
	-webkit-transition: ease-in-out .5s all;
  	-moz-transition:    ease-in-out .5s all;
 	-o-transition:      ease-in-out .5s all;
  	transition:         ease-in-out .5s all;
}

.product-item:hover h3 {
	color: #EB1105!important;
}

.product-item p {
	color: #666!important;
}

.product-item:hover {
	cursor: pointer;
}

.service-container {
	background-color: #f1f1f1;
}

.height-0,
.height-0 > .wpb_column {
	height: 0;
	margin: 0;
	padding: 0!important;
}

.float-image {
	position: absolute;
    top: -449px;
    right: -200px;
}

.float-image img {
	max-width: 90%;
}

@media only screen and (max-width: 767px) {
	.hero_heading-h1 h1,
	.color-white h2 {
		padding: 0 10px;
	}
	.product-item {
		margin: 0 auto;
	}
	.vc_sep_width_40 {
		width: 100%;
	}
	.goodbye-pest .vc_column-inner  {
		padding: 0;
	}
}

